<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<div th:if="${param.error}"><h3>Login ou senha invalida.</h3></div>
	<div th:if="${param.logout}"><h3>Você foi desconectado.</h3></div>
	
	<form th:action="@{/login}" method="post">
		<div>
			<label>LOGIN <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> SENHA <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Conectar" />
		</div>
	</form>
</body>
</html>